body {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  font-size: 15px;
  line-height: 22px;
  color: #252519;
  margin: 0 30px; padding: 0;
}

a {
  color: #261a3b;
}

a:visited {
  color: #261a3b;
}

img {
  margin-bottom: 30px;
}

p {
  margin: 0 0 15px 0;
  line-height: 1.7em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 15px 0 15px 0;
}

h2 {
  padding-top: 10px;
  margin-top: 20px;
  font-size: 1.2em;
}

h1 {
  padding: 10px 0 8px 0;
  margin-top: 30px;
  border-bottom: 1px solid #e5e5ee;
}

pre, code {
  font-size: 12px; line-height: 18px;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  margin: 0; padding: 0;
}

pre {
  width: 650px;
  overflow: auto;
  border: 1px solid #e5e5ee;  
  margin: 0 0 15px 0;
  background: ghostWhite;
}

ul {
  padding: 0;
  margin: 10px 0;
  list-style-position: inside;
}

#container {
  width: 625px;
  margin: 40px 0 50px 40px;
}

.back {
  float: right;
  margin: 10px 5px 0 0;
}

#container .wrap {
  overflow: hidden;
  width: 650px;
  border: 1px solid #e5e5ee;  
  margin: 0 0 15px 0;
  background: ghostWhite;
}

#container .wrap pre {
  border: 0;
  margin: 0;
  width: 48%;
  float: left;
  padding: 5px;
}

#container .wrap pre:last-child {
  border-left: 1px solid #e5e5ee;
}