body {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  font-size: 15px;
  line-height: 22px;
  color: #252519;
  margin: 0; padding: 0;
}

a {
  color: #261a3b;
}

a:visited {
  color: #261a3b;
}

img {
  margin-bottom: 30px;
}

p {
  margin: 0 0 15px 0;
  line-height: 1.7em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 15px 0 15px 0;
}

h2 {
  padding-top: 10px;
  margin-top: 20px;
  font-size: 1.2em;
}

h1 {
  padding: 10px 0 8px 0;
  margin-top: 30px;
  border-bottom: 1px solid #e5e5ee;
}

pre, code {
  font-size: 12px; line-height: 18px;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  margin: 0; padding: 0;
}

pre {
  width: 610px;
  overflow: auto;
  border: 1px solid #e5e5ee;  
  margin: 0 0 15px 0;
  background: ghostWhite;
  padding: 5px;
}

ul {
  padding: 0;
  margin: 10px 0;
  list-style-position: inside;
}

header {
  display: block;
  padding: 8px 50px;
  background: ghostWhite;
  border-bottom: 1px solid #DDD;
}

header h1 {
  border: 0;
  margin: 0;
  font-size: 20px;
}

header h1 a {
  text-decoration: none;
}

#content {
  margin: 0 0 50px 50px;
  max-width: 625px;
}

.back {
  float: right;
  margin: 10px 5px 0 0;
}

#content .wrap {
  width: 625px;
  position: relative;
}

#content .wrap pre {
  width: auto;
}

#content .wrap .handle {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 15px;
  height: 15px;
  background: #BFBDC9;
  border: 0;
  cursor: pointer;
}

.pages {
  margin: 2em 0 0 0; 
  padding: 0;
}

.pages li {
  border-bottom: 1px solid #EEE;
  line-height: 1.7em;
  margin: 15px 0px 3px;
  list-style-position: inside;
}

.pages li a {
  text-decoration: none;
}